* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  p {
    font-family: shippori-mincho-b1, sans-serif;
  }

  h3 {
    font-family: dnp-shuei-shogomincho-std, sans-serif;
  }
}

.tulip-poem {
  width: 100vw;
  height: 100vh;
  padding: 10vw;
  writing-mode: vertical-rl;
  position: relative;
  letter-spacing: 0.25rem;
  line-height: 2;
  background-color: #b6e081;
}

.tulip-text {
  position: absolute;
  right: 30vw;
}

.tree-poem {
  width: 100vw;
  height: 100vh;
  padding: 10vw;
  writing-mode: vertical-rl;
  position: relative;
  letter-spacing: 0.25rem;
  line-height: 2;
  background: linear-gradient(#b6e081, #ffffff);
}

.tree-1 {
  position: absolute;
  top: 60%;
  right: 20vw;
}

.tree-2 {
  position: absolute;
  right: 70vw;
}

.suisen-poem {
  width: 100vw;
  height: 100vh;

  writing-mode: vertical-rl;
  position: relative;
  letter-spacing: 0.25rem;
  line-height: 2;
  background: linear-gradient(#ffffff, #ecf7ad);
}

.suisen-1,
.suisen-2,
.suisen-3,
.suisen-4,
.suisen-5 {
  margin-right: 50px;
  margin-left: 50px;
}

.poem-title {
  position: absolute;
  left: 100px;
  bottom: 50px;
}

.site-footer {
  background-color: #000000;
  color: #f5f7fb;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  height: 300px;
}

.footer-text {
  letter-spacing: 0.7em;
  font-family: shippori-mincho-b1, sans-serif;
  writing-mode: vertical-rl;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-link {
  letter-spacing: 0.5em;
  font-family: shippori-mincho-b1, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.poemsite-link-wrap {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
}

.poemsite-link {
  letter-spacing: 0.5em;
}

.site-link {
  color: #f5f7fb;
  padding-right: 4em;
  text-decoration: none;
  display: inline-block;
}
