* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  a,
  p {
    font-family: shippori-mincho-b1, sans-serif;
    text-decoration: none;
  }

  h1,
  h4 {
    font-family: dnp-shuei-shogomincho-std, sans-serif;
  }
}

.hamburger {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  cursor: pointer;
  z-index: 20;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #333;
  margin: 5px 0;
  transition: 0.4s;
}

/* バツ印に変化するスタイル */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* メニューのスタイル */
.menu {
  writing-mode: vertical-rl;
  position: fixed;
  top: -120%; /* 初期状態でメニューを画面の外に */
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1a3c2f;
  padding: 20px;
  z-index: 5;
  transition: top 0.3s ease; /* スライドアニメーション */
  h1 {
    color: #fcfcfc;
    font-size: 36px;
    padding-top: 10vh;
    padding-right: 8vw;
    letter-spacing: 0.5em;
  }
}

.list-item {
  position: absolute;
  top: 10vh;
  right: 18vw;
}

.list-item a {
  font-size: 30px;
  color: #fcfcfc;
  letter-spacing: 0.5em;
}

.list-item li {
  padding: 50px;
  list-style: none;
}

.poem-list {
  position: absolute;
  top: 25vh;
  right: 48vw;
}

.poem-list a {
  font-size: 24px;
  color: #fcfcfc;
  letter-spacing: 0.5em;
}

.poem-list li {
  padding: 40px;
  list-style: none;
}

/* メニューが表示される時 */
.menu.open {
  top: 0; /* メニューが表示される位置 */
}

.menu-button span {
  display: block;
  height: 3px;
  background: var(--ink);
}

.tulip-poem {
  width: 100vw;
  height: 100vh;
  writing-mode: vertical-rl;
  position: relative;
  letter-spacing: 0.25rem;
  line-height: 2;
  background-color: #b6e081;
  font-size: 20px;
}

.tulip-content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 100px;
  z-index: 4;
  height: 100vh;
}

.tulip-text {
  margin-left: 60vw;
}

.tree-poem {
  width: 100vw;
  height: 100vh;

  writing-mode: vertical-rl;
  position: relative;
  letter-spacing: 0.25rem;
  line-height: 2;
  background: linear-gradient(#b6e081, #ffffff);
  font-size: 20px;
}
.tree-content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 100px;
  z-index: 4;
  height: 100vh;
  line-height: 2;
}

.tree-1 {
  padding-right: 50px;
  padding-left: 50px;
  margin-left: 20vw;
}
.tree-2 {
  padding-right: 50px;
  padding-left: 50px;
  margin-left: 10vw;
}

.suisen-poem {
  width: 100vw;
  height: 100vh;
  writing-mode: vertical-rl;
  position: relative;
  letter-spacing: 0.25rem;
  line-height: 2;
  background: linear-gradient(#ffffff, #ecf7ad);
  font-size: 20px;
}

#suisenCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.suisen-content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 100px;
  z-index: 4;
  height: 100vh;
}

.suisen-text {
  margin-left: 30vw;
}

.suisen-1,
.suisen-2,
.suisen-3,
.suisen-4,
.suisen-5 {
  margin-right: 50px;
  margin-left: 50px;
}

.poem-title {
  position: absolute;
  left: 100px;
  bottom: 50px;
}

.site-footer {
  background-color: #000000;
  color: #f5f7fb;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  height: 300px;
}

.footer-text {
  letter-spacing: 0.7em;
  font-family: shippori-mincho-b1, sans-serif;
  writing-mode: vertical-rl;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-link {
  letter-spacing: 0.5em;
  font-family: shippori-mincho-b1, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.poemsite-link-wrap {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
}

.poemsite-link {
  letter-spacing: 0.5em;
}

.site-link {
  color: #f5f7fb;
  padding-right: 4em;
  text-decoration: none;
  display: inline-block;
}
