* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  width: 100vw;
  height: 100vh;
}

#app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  user-select: none;
}

.spring-poem {
  writing-mode: vertical-rl;
  overflow: hidden;
  padding: 100px;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  line-height: 2;
  letter-spacing: 0.25rem;
  background-color: transparent;
  pointer-events: none;
}

.spring-text {
  position: absolute;
  right: 50vw;
  transform: translate(50%, 0%);
  pointer-events: auto;
}

.summer-poem {
  width: 100vw;
  height: 100vh;

  writing-mode: vertical-rl;
  position: relative;
  letter-spacing: 0.25rem;
  line-height: 2;
}

.summer-text {
  position: absolute;
  right: 35vw;
}

.summer-1,
.summer-2,
.summer-3 {
  margin-right: 50px;
  margin-left: 50px;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  user-select: none;
}

.autumn-poem {
  width: 100vw;
  height: 100vh;
  padding: 10vw;
  writing-mode: vertical-rl;
  position: relative;
  letter-spacing: 0.25rem;
  line-height: 2;
  background: linear-gradient(#f9ffeb, #fdc152);
}

.autumn-1,
.autumn-2,
.autumn-3 {
  margin-right: 50px;
  margin-left: 50px;
}

.winter-poem {
  width: 100vw;
  height: 100vh;

  writing-mode: vertical-rl;
  position: relative;
  letter-spacing: 0.25rem;
  line-height: 2;
  background: linear-gradient(#f0debc, #ffffff);
}

.winter-text {
  position: absolute;
  right: 50vw;
  transform: translate(50%, 0%);
}

.winter-1,
.winter-2,
.winter-3 {
  margin-right: 50px;
  margin-left: 50px;
}

#WinterCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  user-select: none;
}

.poem-title {
  position: absolute;
  left: 100px;
  bottom: 50px;
  pointer-events: auto;
}
