* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  p {
    font-family: shippori-mincho-b1, sans-serif;
  }

  h4 {
    font-family: dnp-shuei-shogomincho-std, sans-serif;
  }
}

html {
  scroll-behavior: smooth;
  width: 100vw;
  height: 100vh;
}

#app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  user-select: none;
}

.spring-poem {
  writing-mode: vertical-rl;
  overflow: hidden;

  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  line-height: 2;
  letter-spacing: 0.25rem;
  background-color: transparent;
  pointer-events: none;
  font-size: 20px;
}

.spring-content {
  padding: 100px;
}
.spring-text {
  position: absolute;

  right: 50vw;
  transform: translate(50%, 0%);
  pointer-events: auto;
}

.summer-poem {
  width: 100vw;
  height: 100vh;
  font-size: 20px;
  writing-mode: vertical-rl;
  position: relative;
  letter-spacing: 0.25rem;
  line-height: 2;
}

.summer-content {
  padding: 100px;
  color: #f9ffeb;
}
.summer-text {
  position: absolute;
  right: 35vw;
}

.summer-1,
.summer-2,
.summer-3 {
  margin-right: 50px;
  margin-left: 50px;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  user-select: none;
}

.autumn-poem {
  width: 100vw;
  height: 100vh;
  writing-mode: vertical-rl;
  position: relative;
  letter-spacing: 0.25rem;
  line-height: 2;
  background: linear-gradient(#f9ffeb, #fdc152);
  font-size: 20px;
}
.autumn-content {
  width: 100vw;
  height: 100vh;
  padding: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  color: rgb(109, 60, 23);
}

.autumn-text {
  margin-right: 30vw;
}
.autumn-1,
.autumn-2,
.autumn-3 {
  margin-right: 80px;
  margin-left: 80px;
}
.winter-content {
  width: 100vw;
  height: 100vh;
  padding: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.winter-poem {
  width: 100vw;
  height: 100vh;
  font-size: 20px;
  writing-mode: vertical-rl;
  position: relative;
  letter-spacing: 0.25rem;
  line-height: 2;
  background: linear-gradient(#f0debc, #ffffff);
  color: #ababab;
}

.winter-text {
  position: absolute;
  right: 50vw;
  transform: translate(50%, 0%);
}

.winter-1,
.winter-2,
.winter-3 {
  margin-right: 50px;
  margin-left: 50px;
}

#winterCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  user-select: none;
}

.poem-title {
  position: absolute;
  left: 100px;
  bottom: 50px;
  pointer-events: auto;
}

.site-footer {
  background-color: #000000;
  color: #f5f7fb;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  height: 300px;
}

.footer-text {
  letter-spacing: 0.7em;
  font-family: shippori-mincho-b1, sans-serif;
  writing-mode: vertical-rl;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-link {
  letter-spacing: 0.5em;
  font-family: shippori-mincho-b1, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.poemsite-link-wrap {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
}

.poemsite-link {
  letter-spacing: 0.5em;
}

.site-link {
  color: #f5f7fb;
  padding-right: 4em;
  text-decoration: none;
  display: inline-block;
}
