* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.clouds-poem {
  width: 100vw;
  height: 100vh;
  writing-mode: vertical-rl;
  position: relative;
  letter-spacing: 0.25rem;
}

.clouds-text {
  position: absolute;
  right: 50%;
  transform: translate(50%, 0%);
  padding-top: 40vh;
}

.clouds-1,
.clouds-2,
.clouds-3 {
  margin-right: 50px;
  margin-left: 50px;
  line-height: 2;
}

.sun-poem {
  width: 100vw;
  height: 100vh;
  writing-mode: vertical-rl;
  position: relative;
  letter-spacing: 0.25rem;
}

.sun-text {
  position: relative;
  z-index: 20;
  color: orange;
}

.sun-1 {
  margin-right: 50px;
  margin-left: 50px;
  line-height: 2;
}
.sun-2 {
  margin-right: 50px;
  margin-left: 50px;
  line-height: 2;
  position: absolute;
  right: 40vw;
}

.sun-3 {
  margin-right: 50px;
  margin-left: 50px;
  line-height: 2;
  position: absolute;
  right: 55vw;
}

.moon-poem {
  width: 100vw;
  height: 100vh;

  writing-mode: vertical-rl;
  position: relative;
  letter-spacing: 0.25rem;
}

.moon-text {
  position: absolute;
  top: 10vh;
  right: 20vw;
  color: aliceblue;
  .poem-title {
    color: aliceblue;
  }
}

.moon-1 {
  margin-right: 50px;
  margin-left: 70px;
  line-height: 2;
}
.moon-2 {
  margin-right: 70px;
  margin-left: 70px;
  line-height: 2;
}
.moon-3 {
  margin-right: 70px;
  margin-left: 70px;
  line-height: 2;
}

.sky-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    #020208 0%,
    #0a0a28 40%,
    #1a153a 70%,
    #2c1a4d 100%
  );
  background-size: 100% 200%;
  animation: skyGradient 20s ease-in-out infinite alternate;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@keyframes skyGradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.sky-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    #020208 0%,
    #0a0a28 40%,
    #1a153a 70%,
    #2c1a4d 100%
  );
  background-size: 100% 200%;
  animation: skyGradient 20s ease-in-out infinite alternate;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@keyframes skyGradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.poem-title {
  position: absolute;
  left: 100px;
  bottom: 50px;
}
