* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  a,
  p {
    font-family: shippori-mincho-b1, sans-serif;
    text-decoration: none;
  }

  h1,
  h4 {
    font-family: dnp-shuei-shogomincho-std, sans-serif;
  }
}

.hamburger {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  cursor: pointer;
  z-index: 20;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #333;
  margin: 5px 0;
  transition: 0.4s;
}

/* バツ印に変化するスタイル */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* メニューのスタイル */
.menu {
  writing-mode: vertical-rl;
  position: fixed;
  top: -120%; /* 初期状態でメニューを画面の外に */
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1a3c2f;
  padding: 20px;
  z-index: 5;
  transition: top 0.3s ease; /* スライドアニメーション */
  h1 {
    color: #fcfcfc;
    font-size: 36px;
    padding-top: 10vh;
    padding-right: 8vw;
    letter-spacing: 0.5em;
  }
}

.list-item {
  position: absolute;
  top: 10vh;
  right: 18vw;
}

.list-item a {
  font-size: 30px;
  color: #fcfcfc;
  letter-spacing: 0.5em;
}

.list-item li {
  padding: 50px;
  list-style: none;
}

.poem-list {
  position: absolute;
  top: 25vh;
  right: 48vw;
}

.poem-list a {
  font-size: 24px;
  color: #fcfcfc;
  letter-spacing: 0.5em;
}

.poem-list li {
  padding: 40px;
  list-style: none;
}

/* メニューが表示される時 */
.menu.open {
  top: 0; /* メニューが表示される位置 */
}

.menu-button span {
  display: block;
  height: 3px;
  background: var(--ink);
}

.clouds-poem {
  width: 100vw;
  height: 100vh;
  writing-mode: vertical-rl;
  position: relative;
  letter-spacing: 0.25rem;
  font-size: 20px;
}

.clouds-text {
  position: absolute;
  right: 50%;
  transform: translate(50%, 0%);
  padding-top: 20vh;
}

.clouds-1,
.clouds-2,
.clouds-3 {
  margin-right: 50px;
  margin-left: 50px;
  line-height: 2;
}
.sun-content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 100px;
  z-index: 4;
  height: 100vh;
  color: orange;
}
.sun-poem {
  width: 100vw;
  height: 100vh;
  writing-mode: vertical-rl;
  position: relative;
  letter-spacing: 0.25rem;
  font-size: 20px;
}

.sun-text {
  z-index: 4;
  margin-left: 15vw;
}

.sun-1,
.sun-2,
.sun-3 {
  margin-right: 100px;
  margin-left: 100px;
  line-height: 2;
}

.moon-poem {
  width: 100vw;
  height: 100vh;
  color: aliceblue;
  writing-mode: vertical-rl;
  position: relative;
  letter-spacing: 0.25rem;
  font-size: 20px;
}

.moon-text {
  position: absolute;
  top: 10vh;
  right: 20vw;
}

.moon-1 {
  margin-right: 50px;
  margin-left: 70px;
  line-height: 2;
}
.moon-2 {
  margin-right: 70px;
  margin-left: 70px;
  line-height: 2;
}
.moon-3 {
  margin-right: 70px;
  margin-left: 70px;
  line-height: 2;
}

.sky-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    #020208 0%,
    #0a0a28 40%,
    #1a153a 70%,
    #2c1a4d 100%
  );
  background-size: 100% 200%;
  animation: skyGradient 20s ease-in-out infinite alternate;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@keyframes skyGradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.sky-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    #020208 0%,
    #0a0a28 40%,
    #1a153a 70%,
    #2c1a4d 100%
  );
  background-size: 100% 200%;
  animation: skyGradient 20s ease-in-out infinite alternate;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@keyframes skyGradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.poem-title {
  position: absolute;
  left: 100px;
  bottom: 50px;
}

.site-footer {
  background-color: #000000;
  color: #f5f7fb;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  height: 300px;
}

.footer-text {
  letter-spacing: 0.7em;
  font-family: shippori-mincho-b1, sans-serif;
  writing-mode: vertical-rl;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-link {
  letter-spacing: 0.5em;
  font-family: shippori-mincho-b1, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.poemsite-link-wrap {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
}

.poemsite-link {
  letter-spacing: 0.5em;
}

.site-link {
  color: #f5f7fb;
  padding-right: 4em;
  text-decoration: none;
  display: inline-block;
}
