* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.umi-poem {
  writing-mode: vertical-rl;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  letter-spacing: 0.25rem;
  p {
    color: aliceblue;
  }
}

#wave-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  user-select: none;
}

.umi-text {
  position: relative;
  z-index: 2;
  line-height: 3;
  flex-direction: row-reverse;
  padding: 100px;
}

.umi-paragraph-1 {
  padding-right: 80px;
}

.umi-paragraph-2 {
  padding-right: 60px;
}

.uta-poem {
  writing-mode: vertical-rl;

  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  letter-spacing: 0.25rem;
  z-index: 10;
}

.uta-text {
  line-height: 1.5;
  flex-direction: row-reverse;
  padding: 100px;
}

.uta-1 {
  padding-right: 90px;
}
.uta-2,
.uta-3,
.uta-4,
.uta-5,
.uta-6,
.uta-7,
.uta-8 {
  padding-right: 40px;
}

/* カスタムスクロールバーを非表示に */
::-webkit-scrollbar {
  display: none;
}

/* 全画面コンテナ */
.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* インタラクティブ波エフェクト用キャンバス */
#fluidCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: block;
}

.june-poem {
  writing-mode: vertical-rl;
  position: relative;
  padding: 100px;
  background-color: rgb(178, 189, 192);
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  letter-spacing: 0.25rem;
}

.june-text {
  line-height: 2;
  flex-direction: row-reverse;
}

.june-1,
.june-2,
.june-3,
.june-4 {
  padding-right: 50px;
}

.ame-poem {
  writing-mode: vertical-rl;
  position: relative;
  padding: 100px;
  background-color: #001343;
  color: #ffffff;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
}

.ame-text {
  line-height: 2;
  flex-direction: row-reverse;
  position: absolute;
  right: 50%;
  transform: translate(50%, 0%);
}

.ame-1,
.ame-2,
.ame-3 {
  padding-right: 50px;
}

.poem-title {
  position: absolute;
  left: 100px;
  bottom: 50px;
  z-index: 2;
}
